* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1483058712412-4245e9b90334?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    padding-bottom: 90px;
    color: white;
    clip-path: polygon(100% 0, 100% 100%, 0% 80%, 0 100%, 0 0);
}

header>nav {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
    margin-left: -30px;
    margin-right: -30px;
}

.navbar-brand {
    transition: 0.5s;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.ajeet {
    transition: 1s;
}

.ajeet:hover {
    transform: scale(0.8);
}

header img {
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(201, 201, 201);
}

header>div>p {
    margin-top: 20px;
}

header>div>p>span {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(180, 211, 5);
}

.tri-color {
    background: linear-gradient(90deg, #ff9933, #ffff, #138808);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

#projects img {
    transition: 1s;
}

#projects img:hover {
    transform: scale(0.9);
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#top-button:hover {
    transform: scale(0.9);
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

#resume {
    background-color: #28a745;
    color: white;
    padding: 50px 0;
    text-align: center;
}

#resume h2 {
    margin-bottom: 20px;
}

#resume p {
    margin-bottom: 30px;
}

.button-81 {
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: #28a746d7;
    color: #fff;
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}