*,
*::before,
*::after {
    box-sizing: border-box;
}

.img {
    max-width: 100%;
    height: auto;
}

section {
    overflow-x: hidden;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #343a40;
    overflow-x: hidden;
}

img {
    cursor: pointer;
    transition: ease-in-out all 1s;
}

img:hover {
    transform: scale(0.8);
}

.img {
    width: min(40vw, 100px);
    height: 20%;
}

header {
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.456), rgba(0, 0, 0, 0.456));
    z-index: 1;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
}

.image-container figure {
    width: 23%;
    padding: 5px;
    text-align: center;
    margin: 0;
}

.image-container figure img {
    width: 100%;
    height: auto;
}

.image-container figure figcaption {
    margin-top: 5px;
    color: #fff;
}

@media (max-width: 768px) {
    .image-container figure {
        width: 48%;
        margin-right: 4%;
    }
    .image-container figure:nth-child(2n) {
        margin-right: 0;
    }
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1652439258003-b78c3e6e0a96?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}

#top-button:hover {
    transform: 1s;
    transform: scale(0.9)
}

.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button-77 {
        padding: 19px 32px;
    }
}

.button-77:before,
.button-77:after {
    border-radius: 80px;
}

.button-77:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
    color: #ccc;
}

.button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.button-77:disabled {
    cursor: default;
    opacity: .24;
}

footer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/rect%3e%3cpath d='M70.66 175.9L135.61 213.4L135.61 288.4L70.66 325.9L5.71 288.4L5.71 213.4zM135.61 288.4L200.57 325.9L200.57 400.9L135.61 438.4L70.66 400.9L70.66 325.9zM70.66 400.9L135.61 438.4L135.61 513.4L70.66 550.9L5.71 513.4L5.71 438.4zM135.61 513.4L200.57 550.9L200.57 625.9L135.61 663.4L70.66 625.9L70.66 550.9zM200.57 -49.1L265.52 -11.6L265.52 63.4L200.57 100.9L135.61 63.4L135.61 -11.6zM200.57 175.9L265.52 213.4L265.52 288.4L200.57 325.9L135.61 288.4L135.61 213.4zM265.52 288.4L330.48 325.9L330.48 400.9L265.52 438.4L200.57 400.9L200.57 325.9zM200.57 400.9L265.52 438.4L265.52 513.4L200.57 550.9L135.61 513.4L135.61 438.4zM265.52 513.4L330.48 550.9L330.48 625.9L265.52 663.4L200.57 625.9L200.57 550.9zM330.48 -49.1L395.43 -11.6L395.43 63.4L330.48 100.9L265.52 63.4L265.52 -11.6zM330.48 175.9L395.43 213.4L395.43 288.4L330.48 325.9L265.52 288.4L265.52 213.4zM395.43 288.4L460.38 325.9L460.38 400.9L395.43 438.4L330.48 400.9L330.48 325.9zM395.43 513.4L460.38 550.9L460.38 625.9L395.43 663.4L330.48 625.9L330.48 550.9zM460.38 -49.1L525.34 -11.6L525.34 63.4L460.38 100.9L395.43 63.4L395.43 -11.6zM460.38 400.9L525.34 438.4L525.34 513.4L460.38 550.9L395.43 513.4L395.43 438.4zM525.34 513.4L590.29 550.9L590.29 625.9L525.34 663.4L460.38 625.9L460.38 550.9zM590.29 -49.1L655.24 -11.6L655.24 63.4L590.29 100.9L525.34 63.4L525.34 -11.6zM655.24 63.4L720.2 100.9L720.2 175.9L655.24 213.4L590.29 175.9L590.29 100.9zM720.2 -49.1L785.15 -11.6L785.15 63.4L720.2 100.9L655.24 63.4L655.24 -11.6zM785.15 63.4L850.11 100.9L850.11 175.9L785.15 213.4L720.2 175.9L720.2 100.9zM850.1 175.9L915.06 213.4L915.06 288.4L850.1 325.9L785.15 288.4L785.15 213.4zM915.06 288.4L980.01 325.9L980.01 400.9L915.06 438.4L850.1 400.9L850.1 325.9zM980.01 -49.1L1044.97 -11.6L1044.97 63.4L980.01 100.9L915.06 63.4L915.06 -11.6zM980.01 175.9L1044.97 213.4L1044.97 288.4L980.01 325.9L915.06 288.4L915.06 213.4zM1044.97 288.4L1109.92 325.9L1109.92 400.9L1044.97 438.4L980.01 400.9L980.01 325.9zM1174.87 63.4L1239.83 100.9L1239.83 175.9L1174.87 213.4L1109.92 175.9L1109.92 100.9zM1239.83 -49.1L1304.78 -11.6L1304.78 63.4L1239.83 100.9L1174.87 63.4L1174.87 -11.6zM1304.78 63.4L1369.73 100.9L1369.73 175.9L1304.78 213.4L1239.83 175.9L1239.83 100.9zM1239.83 175.9L1304.78 213.4L1304.78 288.4L1239.83 325.9L1174.87 288.4L1174.87 213.4zM1304.78 288.4L1369.73 325.9L1369.73 400.9L1304.78 438.4L1239.83 400.9L1239.83 325.9zM1304.78 513.4L1369.73 550.9L1369.73 625.9L1304.78 663.4L1239.83 625.9L1239.83 550.9zM1369.74 175.9L1434.69 213.4L1434.69 288.4L1369.74 325.9L1304.78 288.4L1304.78 213.4zM1434.69 288.4L1499.64 325.9L1499.64 400.9L1434.69 438.4L1369.74 400.9L1369.74 325.9zM1369.74 400.9L1434.69 438.4L1434.69 513.4L1369.74 550.9L1304.78 513.4L1304.78 438.4zM1499.64 -49.1L1564.6 -11.6L1564.6 63.4L1499.64 100.9L1434.69 63.4L1434.69 -11.6zM1564.6 63.4L1629.55 100.9L1629.55 175.9L1564.6 213.4L1499.64 175.9L1499.64 100.9zM1499.64 400.9L1564.6 438.4L1564.6 513.4L1499.64 550.9L1434.69 513.4L1434.69 438.4z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M63.16 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM128.11 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM128.11 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM63.16 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-1.79 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-1.79 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM193.07 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM193.07 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM128.11 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM63.16 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM128.11 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM63.16 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-1.79 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-1.79 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM193.07 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM193.07 625.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM128.11 663.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM63.16 625.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM193.07 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM258.02 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM258.02 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM193.07 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM128.11 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM128.11 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM193.07 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM258.02 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM258.02 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.98 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.98 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM258.02 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM258.02 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.98 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.98 625.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM258.02 663.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.98 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.93 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.93 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.98 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.98 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.93 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.93 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.88 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.88 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.93 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.93 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.88 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.88 625.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.93 663.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.88 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.84 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.84 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.88 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.84 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.84 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.79 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.79 625.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.84 663.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.79 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.74 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.74 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.79 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.7 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.7 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.74 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.79 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.7 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM777.65 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM777.65 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.61 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.61 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM777.65 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.6 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.56 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.56 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.6 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM777.65 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.51 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.51 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.56 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.6 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.51 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.47 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.47 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.51 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.56 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.56 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.51 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.47 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.47 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1102.42 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1102.42 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.47 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1167.37 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1232.33 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1232.33 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1167.37 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1102.42 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1102.42 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1232.33 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1297.28 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1297.28 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1167.37 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.23 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.23 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1297.28 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1297.28 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1232.33 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1167.37 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.23 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.23 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1297.28 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1232.33 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1297.28 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.23 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.23 625.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1297.28 663.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1232.33 625.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1232.33 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.24 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1427.19 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1427.19 288.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.24 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1492.14 325.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1492.14 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1427.19 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.24 400.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1427.19 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1362.24 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1492.14 -49.1 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1557.1 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1557.1 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1492.14 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1427.19 63.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1427.19 -11.6 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1622.05 100.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1622.05 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1557.1 213.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1492.14 175.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1557.1 438.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1557.1 513.4 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1492.14 550.9 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M83.7 185.65L127 210.65L127 260.65L83.7 285.65L40.4 260.65L40.4 210.65zM40.4 410.65L83.7 435.65L83.7 485.65L40.4 510.65L-2.9 485.65L-2.9 435.65zM83.7 485.65L127 510.65L127 560.65L83.7 585.65L40.4 560.65L40.4 510.65zM127 -39.35L170.31 -14.35L170.31 35.65L127 60.65L83.7 35.65L83.7 -14.35zM170.31 185.65L213.61 210.65L213.61 260.65L170.31 285.65L127 260.65L127 210.65zM170.31 335.65L213.61 360.65L213.61 410.65L170.31 435.65L127 410.65L127 360.65zM170.31 485.65L213.61 510.65L213.61 560.65L170.31 585.65L127 560.65L127 510.65zM213.61 -39.35L256.91 -14.35L256.91 35.65L213.61 60.65L170.31 35.65L170.31 -14.35zM256.91 185.65L300.21 210.65L300.21 260.65L256.91 285.65L213.61 260.65L213.61 210.65zM213.61 260.65L256.91 285.65L256.91 335.65L213.61 360.65L170.31 335.65L170.31 285.65zM213.61 410.65L256.91 435.65L256.91 485.65L213.61 510.65L170.31 485.65L170.31 435.65zM256.91 485.65L300.21 510.65L300.21 560.65L256.91 585.65L213.61 560.65L213.61 510.65zM343.52 35.65L386.82 60.65L386.82 110.65L343.52 135.65L300.21 110.65L300.21 60.65zM300.21 110.65L343.52 135.65L343.52 185.65L300.21 210.65L256.91 185.65L256.91 135.65zM343.52 185.65L386.82 210.65L386.82 260.65L343.52 285.65L300.21 260.65L300.21 210.65zM300.21 260.65L343.52 285.65L343.52 335.65L300.21 360.65L256.91 335.65L256.91 285.65zM300.21 410.65L343.52 435.65L343.52 485.65L300.21 510.65L256.91 485.65L256.91 435.65zM386.82 260.65L430.12 285.65L430.12 335.65L386.82 360.65L343.52 335.65L343.52 285.65zM430.12 485.65L473.43 510.65L473.43 560.65L430.12 585.65L386.82 560.65L386.82 510.65zM473.43 -39.35L516.73 -14.35L516.73 35.65L473.43 60.65L430.12 35.65L430.12 -14.35zM473.43 110.65L516.73 135.65L516.73 185.65L473.43 210.65L430.12 185.65L430.12 135.65zM516.73 335.65L560.03 360.65L560.03 410.65L516.73 435.65L473.43 410.65L473.43 360.65zM473.43 410.65L516.73 435.65L516.73 485.65L473.43 510.65L430.12 485.65L430.12 435.65zM560.03 110.65L603.33 135.65L603.33 185.65L560.03 210.65L516.73 185.65L516.73 135.65zM560.03 410.65L603.33 435.65L603.33 485.65L560.03 510.65L516.73 485.65L516.73 435.65zM689.94 35.65L733.24 60.65L733.24 110.65L689.94 135.65L646.63 110.65L646.63 60.65zM646.63 110.65L689.94 135.65L689.94 185.65L646.63 210.65L603.33 185.65L603.33 135.65zM689.94 185.65L733.24 210.65L733.24 260.65L689.94 285.65L646.63 260.65L646.63 210.65zM646.63 260.65L689.94 285.65L689.94 335.65L646.63 360.65L603.33 335.65L603.33 285.65zM646.63 410.65L689.94 435.65L689.94 485.65L646.63 510.65L603.33 485.65L603.33 435.65zM689.94 485.65L733.24 510.65L733.24 560.65L689.94 585.65L646.63 560.65L646.63 510.65zM733.24 110.65L776.54 135.65L776.54 185.65L733.24 210.65L689.94 185.65L689.94 135.65zM776.54 185.65L819.85 210.65L819.85 260.65L776.54 285.65L733.24 260.65L733.24 210.65zM733.24 260.65L776.54 285.65L776.54 335.65L733.24 360.65L689.94 335.65L689.94 285.65zM733.24 410.65L776.54 435.65L776.54 485.65L733.24 510.65L689.94 485.65L689.94 435.65zM776.54 485.65L819.85 510.65L819.85 560.65L776.54 585.65L733.24 560.65L733.24 510.65zM949.75 35.65L993.06 60.65L993.06 110.65L949.75 135.65L906.45 110.65L906.45 60.65zM949.75 335.65L993.06 360.65L993.06 410.65L949.75 435.65L906.45 410.65L906.45 360.65zM949.75 485.65L993.06 510.65L993.06 560.65L949.75 585.65L906.45 560.65L906.45 510.65zM993.06 -39.35L1036.36 -14.35L1036.36 35.65L993.06 60.65L949.75 35.65L949.75 -14.35zM1036.36 35.65L1079.66 60.65L1079.66 110.65L1036.36 135.65L993.06 110.65L993.06 60.65zM993.06 260.65L1036.36 285.65L1036.36 335.65L993.06 360.65L949.75 335.65L949.75 285.65zM1036.36 335.65L1079.66 360.65L1079.66 410.65L1036.36 435.65L993.06 410.65L993.06 360.65zM993.06 410.65L1036.36 435.65L1036.36 485.65L993.06 510.65L949.75 485.65L949.75 435.65zM1079.66 -39.35L1122.96 -14.35L1122.96 35.65L1079.66 60.65L1036.36 35.65L1036.36 -14.35zM1122.96 35.65L1166.27 60.65L1166.27 110.65L1122.96 135.65L1079.66 110.65L1079.66 60.65zM1079.66 110.65L1122.96 135.65L1122.96 185.65L1079.66 210.65L1036.36 185.65L1036.36 135.65zM1122.96 185.65L1166.27 210.65L1166.27 260.65L1122.96 285.65L1079.66 260.65L1079.66 210.65zM1079.66 410.65L1122.96 435.65L1122.96 485.65L1079.66 510.65L1036.36 485.65L1036.36 435.65zM1122.96 485.65L1166.27 510.65L1166.27 560.65L1122.96 585.65L1079.66 560.65L1079.66 510.65zM1209.57 35.65L1252.87 60.65L1252.87 110.65L1209.57 135.65L1166.27 110.65L1166.27 60.65zM1166.27 110.65L1209.57 135.65L1209.57 185.65L1166.27 210.65L1122.96 185.65L1122.96 135.65zM1166.27 260.65L1209.57 285.65L1209.57 335.65L1166.27 360.65L1122.96 335.65L1122.96 285.65zM1209.57 335.65L1252.87 360.65L1252.87 410.65L1209.57 435.65L1166.27 410.65L1166.27 360.65zM1166.27 410.65L1209.57 435.65L1209.57 485.65L1166.27 510.65L1122.96 485.65L1122.96 435.65zM1296.17 35.65L1339.48 60.65L1339.48 110.65L1296.17 135.65L1252.87 110.65L1252.87 60.65zM1252.87 110.65L1296.17 135.65L1296.17 185.65L1252.87 210.65L1209.57 185.65L1209.57 135.65zM1252.87 410.65L1296.17 435.65L1296.17 485.65L1252.87 510.65L1209.57 485.65L1209.57 435.65zM1296.17 485.65L1339.48 510.65L1339.48 560.65L1296.17 585.65L1252.87 560.65L1252.87 510.65zM1382.78 35.65L1426.08 60.65L1426.08 110.65L1382.78 135.65L1339.48 110.65L1339.48 60.65zM1339.48 260.65L1382.78 285.65L1382.78 335.65L1339.48 360.65L1296.17 335.65L1296.17 285.65zM1382.78 335.65L1426.08 360.65L1426.08 410.65L1382.78 435.65L1339.48 410.65L1339.48 360.65zM1426.08 110.65L1469.38 135.65L1469.38 185.65L1426.08 210.65L1382.78 185.65L1382.78 135.65zM1469.38 185.65L1512.69 210.65L1512.69 260.65L1469.38 285.65L1426.08 260.65L1426.08 210.65zM1426.08 260.65L1469.38 285.65L1469.38 335.65L1426.08 360.65L1382.78 335.65L1382.78 285.65zM1426.08 410.65L1469.38 435.65L1469.38 485.65L1426.08 510.65L1382.78 485.65L1382.78 435.65z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

a {
    text-decoration: none;
    color: white;
}